<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline: </div>
    <div>
      <%= flight.airline %>
      <a href="/flights/<%= flight._id %>/edit">
        <button>Edit Flight</button>
      </a>
    </div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departure Time: </div>
    <div><%= flight.departs.toISOString().slice(0,10) %></div>
  </section> <br>

  <div>Meals:</div>
    <ul>
      <% flight.meal.forEach(flightMeal => { %>
        <li><%= flightMeal.name %></li>
      <% }) %>
    </ul>

  <form id="add-meal-to-flight" action="/flights/<%= flight._id %>/meals" method="POST">
    <select name="mealId">
      <% meals.forEach(meal => { %>
        <option value="<%= meal._id %>"><%= meal.name %></option>
      <% }) %>
    </select>
    <button type="submit">Add to Flight</button>
  </form>

  <h2>Tickets</h2>
  <form 
    id="add-ticket-form"
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
  >
    <label for="seat-number">Seat:</label>
    <input style="text-transform: uppercase" name="seat" required pattern="[A-F][1-9]\d?">
    <label for="ticket-price">Price: $</label>
    <input name="price">
    <button type="submit">Add Ticket</button>
  </form>
  <% if (flight.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(ticket) { %>
          <tr>
            <td><%= ticket.seat %></td>
            <td>$<%= ticket.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Tickets Yet</h3>
  <% } %>
</main>

<%- include('../partials/footer') %>